<label for="email">
  Email
  <input type="text" required id="email" name="email" />
</label>
<label for="password">
  Password
  <input type="password" required id="password" name="password" />
</label>
<button type="submit">Login</button>
