<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'), { title } %>
  <body>
    <%- include('../partials/nav'), { current, isLoggedIn } %>
    <h2><%= title %></h2>
    <%- include("../partials/messages") %>
    <form action="/users/login" method="post" class="flex-col form">
      <input type="text" name="email" id="email" placeholder="Email" />
      <input
        type="password"
        name="password"
        id="email"
        placeholder="Password"
      />
      <button type="submit" class="button">Login</button>
    </form>
  </body>
</html>
