/* --- Montserrat Regular & Bold --- */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* --- Variables --- */

$primary: #8560d4;
$secondary: #262429;
$cta: #65baa9;
$dark: #262429;
$medium: #5d4a82;
$light: #ffffff;
$darkGrey: #888888;
$mediumGrey: #cccccc;
$lightGrey: #eeeeee;
$success: green;
$warning: yellow;
$error: red;
$hoverHighlight: #b89cf1;
$primaryHighlight: #a585e5;
$secondaryHighlight: #4b4750;
$ctaHighlight: #7bd4c2;

/* --- Global Styles --- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.active {
  right: 0px !important;
}

.container {
  background-color: $lightGrey;
  width: 100%;
  height: 100%;
}
