/* Import Montserrat */

/*
// Variables

$font-stack: "Montserrat", sans-serif;
$dark-color: #262429;
$medium-color: #5d4a82;
$light-color: #ffffff;

$primary-color: #8560d4;
$secondary-color: #262429;

$primary-highlight: #a585e5;
$secondary-highlight: #4b4750;

$grey-light: #eeeeee;
$grey-medium: #cccccc;
$grey-dark: #888888;

$highlight-color: #b89cf1;

$error-color: red;
$success-color: green;
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dddddd;
  font-family: "Montserrat", sans-serif;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.current {
  background-color: #aaaaaa;
}
