<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'), { title } %>
  <body>
    <%- include('../partials/nav'), { current } %>
    <h2><%= title %></h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris finibus
      imperdiet nisl sit amet efficitur. Quisque quis diam et orci porta
      pulvinar. Suspendisse vestibulum tempus lectus, id porta enim tempus nec.
      Curabitur vel mi malesuada, cursus elit vel, mattis nisi. Quisque
      elementum venenatis gravida. Praesent maximus mauris eu semper elementum.
      Aliquam erat volutpat. Aenean lobortis at magna sit amet dapibus. Praesent
      arcu nulla, volutpat et nisi sit amet, vulputate gravida est. Aenean nec
      nisi tortor. Duis sit amet lobortis eros. Suspendisse potenti. Sed congue
      nunc sem.
    </p>
    <p>
      Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
      inceptos himenaeos. Etiam et massa leo. Suspendisse ac rhoncus sapien.
      Vivamus nec congue lorem. Mauris volutpat quam lacus, at pellentesque eros
      dignissim in. Morbi orci massa, consectetur ac pellentesque ut, malesuada
      sed est. Sed id pharetra nisl. Proin consectetur, nunc facilisis ultrices
      dignissim, ipsum nulla pretium mi, ac faucibus nulla lorem vitae nunc.
    </p>
  </body>
</html>
