<% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
<div class="warn"><%= error.msg %></div>
<% }); %> <% } %> <% if(success_msg != '') { %>
<div class="success"><%= success_msg %></div>
<% } %> <% if(error_msg != '') { %>
<div class="error"><%= error_msg %></div>
<% } %><% if(error != '') { %>
<div class="error"><%= error %></div>
<% } %>
