<label for="email">
  Email
  <input
    type="text"
    required
    id="email"
    name="email"
    value="<%= user.email %>"
  />
</label>
<label for="password">
  Password
  <input
    type="password"
    required
    id="password"
    name="password"
    value="<%= user.password %>"
  />
</label>
<button type="submit">Login</button>
